body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* start top container */
.section {
  padding: 10px 50px;
}
.container {
  width: 1100px;
  display: flex;
  margin: 0 auto;
}
.left-contant {
  width: 50%;
}
.left-contant h2 {
  font-size: 50px;
  font-weight: 400;
  border-left: crimson 5px solid;
  padding-left: 16px;
}
.orange-color {
  color: orange;
}

.right-contant {
  width: 50%;
}
.right-contant img {
  width: 80%;
  padding: 40px;
}
/* end top container */

/* start my mission-area */
.my-mission-area h1 {
  text-align: center;
  font-size: 50px;
}
.highlight {
  color: crimson;
}
.single-item {
  width: 30%;
  margin-left: 4%;
  padding: 40px;
  border-radius: 20px;
}
.single-item img {
  width: 140px;
  height: 140px;
}
.single-item h2 {
  font-size: 26px;
  font-weight: 700px;
  margin: 20px 0;
}
#mission {
  background-color: lightblue;
}
#vision {
  background-color: palegreen;
}
#goal {
  background-color: crimson;
}
/* End my-mission-area */

/* start developer are */
.dev-left img {
  width: 400px;
  height: 400px;
}
.dev-right {
  padding: 40px;
}
.dev-right h2 {
  font-size: 40px;
}
.link-button {
  text-decoration: none;
  color: white;
  background-color: crimson;
  padding: 10px 25px;
  border-radius: 7px;
}

.developer-area {
  padding: 80px;
}
.left-item {
  padding: 40px;
}
.left-item h2 {
  font-size: 40px;
}
.right-item img {
  width: 400px;
  height: 400px;
}
.our-happy-clients {
  margin-bottom: 80px;
}
.our-happy-clients h1 {
  text-align: center;
  font-size: 50px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}
